extends layout

block nav
  +nav("home")

block main-content
  div.welcome
    h4 #{weekday}, #{month} #{day}
    h1 Welcome, #{user.name.first}

  div.widget-container
    div.dashboard-widget
      h4.widget-header My Tasks
      ul.tasks-list
        li.task Update Logo
        li.task Write logging system 

    div.dashboard-widget
      h4.widget-header My Projects