extends layout

block nav
  li.primary-menu-item.selected
    a(href='/dashboard/home').primary-menu-link Home
  li.primary-menu-item
    a(href='/dashboard/tasks').primary-menu-link My Tasks
  li.primary-menu-item
    a(href='/dashboard/dashboard').primary-menu-link Inbox

block main-content
  div.welcome
    h4 #{weekday}, #{month} #{day}
    h1 Welcome, Jonah

  div.widget-container
    div.tasks-widget
      h4 My Tasks
      ul.tasks-list
        li.task Update Logo
        li.task Write logging system 

    div.projects-widget
      h4 My Projects