block variables

mixin nav(selected)
  if selected === "home"
    li.primary-menu-item.selected
      a(href='/dashboard/home').primary-menu-link Home
  else
    li.primary-menu-item
      a(href='/dashboard/home').primary-menu-link Home
  
  if selected === "projects"
    li.primary-menu-item.selected
      a(href='/dashboard/projects').primary-menu-link My Projects
  else
    li.primary-menu-item
      a(href='/dashboard/projects').primary-menu-link My Projects
  
  li.primary-menu-item
    a(href='/dashboard/dashboard').primary-menu-link Inbox

doctype html
html
  head
    meta(charset="utf-8")
    link(rel="shortcut icon", href="/favicon.ico")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")
    title #{title} | PS
    link(rel="stylesheet" href="/style.css")
    script(src='/app.js')
  body
    .nav
      h2 Jabber
      input.search-bar.top-nav-child(type='text', placeholder='Search for people')
      .profile
        a.profile-link.top-nav-child(onclick="profileDropdown(this)", href="/profile/"+user._id)
          img.profile-pic(src="/profile-picture.png")
        ul.dropdown
          li My Profile
          li Settings 
          li Test
    .main
      block main-content