block variables
doctype html
html
  head
    meta(charset="utf-8")
    link(rel="shortcut icon", href="/favicon.ico")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")
    title #{title} | PS
    link(rel="stylesheet" href="/style.css")
  body
    aside
      nav.ps-nav-menu
        ul.primary-menu
          img(src='/company-logo.jpg')
          block nav

    main
      div.main-header
        h3 #{title}
        div.top-nav
          input.search-bar.top-nav-child(type='text')
          button.new-project-button.top-nav-child(type="button")
            span.button-icon +
          a.profile-link.top-nav-child(href='/profile')
            img.profile-pic(src="/profile-picture.png")

      div.main-content
        block main-content