block variables
doctype html
html
  head
    meta(charset="utf-8")
    link(rel="shortcut icon", href="/favicon.ico")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")
    title #{title} | PS
    link(rel="stylesheet" href="/style.css")
  body
    div.form-area
      h2.signup-header Login
      form.login-form(action='/login', method='post')
        input.form-item(name="email", placeholder='email')
        input.form-item(name="password", type="password", placeholder="password")
        if errors && errors['password']
            span.form-error #{errors['password'].message}
        button.form-item(type="submit") Login
        span.options.form-item Don't have an account? 
          a(href='/register') Click Here
      