block variables


doctype html
html
  head
    meta(charset="utf-8")
    link(rel="shortcut icon", href="/favicon.ico")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")
    title #{title} | PS
    link(rel="stylesheet" href="/style.css")
  body
    div.auth-form#login
      h2.signup-header Login
      if error
        span.form-error #{error}
      form.form-body(action='/login', method='post')
        input.form-input.form-item(name="email", placeholder='email', value=forminfo.email, required, autofocus)
        input.form-input.form-item(name="password", type="password", placeholder="password", required)
        button.form-item(type="submit") Login
      span.options.form-item Don't have an account? 
        a(href='/register') Click Here
      