extends layout

block nav
  +nav("none")
        
block main-content
  form(action="/new-project")
    input.form-input(name="title", placeholder="Title", value=forminfo.title)
    textarea.form-input-large(name="title", placeholder="Description", value=forminfo.title)