extends layout



block nav
  +nav("projects")
        
block main-content
  .projects-list
    each project in projects
      div.project-list-item
        .project-item-header
          button.toggle-project(onClick="testFunc(this)")
          p.project-list-item-name #{project.name}
        .project-item-content
        

