extends layout

block nav
  li.primary-menu-item
    a(href='/dashboard/home').primary-menu-link Home
  li.primary-menu-item.selected
    a(href='/dashboard/tasks').primary-menu-link My Tasks
  li.primary-menu-item
    a(href='/dashboard/dashboard').primary-menu-link Inbox
        
block main-content

