/* public/style.css */

/* Pallete https://colorhunt.co/palette/718ca159748c354d62d7f2f7 */

* {
    font-family: Arial, Helvetica, sans-serif;
}

*, html, body {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background-color: lightgrey;
}

.main-content {
    margin: 0.1rem 6rem;
    background-color: white;
    box-sizing: border-box;
}

.nav {
    color: white;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    justify-content:space-between;
    align-items: center;
    background-color: #659aa5;
}

.top-nav-child {
    margin: 5px;
}

.search-bar.top-nav-child {
    height: 12px;
}

.profile-pic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.profile-link {
    display: flex;
    align-items: center;
}


.welcome {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 10px;
}

.new-jab {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}

.new-jab .top {
    display: flex;
    align-items: center;
    justify-content: center;

}

.new-jab .profile-pic {
    margin: .5rem;
}

.new-jab .jab-text:empty::before {
    content: attr(placeholder);
}

.new-jab .jab-text {
    margin: .5rem;
    resize: none;
    padding: 5px;
    width: 80%;
    border: 1px solid #ccc;
    min-height: 60px;
    overflow-y: none;
    word-wrap:break-word;
}

.new-jab .send-jab {
    float: right;
    background-color: #577D86;
    border: none;
    padding: 7px 10px;
    border-radius: 20px;
    color: white;
    box-sizing: border-box;
    margin: 7px 20px;
}

.new-jab .send-jab:hover {
    cursor: pointer;
    background-color: #659aa5;
}

.tasks-list {
    list-style: none;
    font-size: .85rem;
}

.tasks-list .task {
    margin: .5rem;
}

.form-header {
    margin: 10px
}

.auth-form {
    position:absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 340px;
    height: 30%;
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.form-body {
    display:flex;
    flex-direction: column;
    padding: 18px;
    border: 1px lightgrey solid;
    border-radius: 10px;
}

.form-item {
    margin: 10px 0;
}

.form-item.options {
    font-size: 0.9rem;
}

.form-input {
    border: 2px solid lightgrey;
    border-radius: 10px;
    padding: 7px 10px;
    display: flex;
    box-sizing: border-box;
}

.form-input:focus, .form-input-large:focus, .search-bar:focus {
    outline-color: darkgrey;
}

.date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
}

.project-form-item {
    margin: 0.5rem;
}


.form-input-large {
    border: 2px solid lightgrey;
    border-radius: 10px;
    padding: 7px 10px;
    display: flex;
    box-sizing: border-box;
    resize: none;
}

.search-bar {
    border: none;
    border-radius: 20px;
    padding: 7px 10px;
}

.form-button {
    background-color: #577D86;
    border: none;
    padding: 7px 10px;
    border-radius: 20px;
    color: white;
    box-sizing: border-box;
}

.form-button:hover {
    cursor: pointer;
    background-color: #659aa5;
}

.form-error {
    margin: 15px;
    color: red;
}

.profile {
    position: relative;
}

.dropdown {
    right: -5px;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.show {display:block;}
